*{
    margin: 0;
    padding: 0;

}
html, body
{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
header
{
    background: rgba(0, 0, 0, 0.8);
    width: 100%;

}
header ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header ul li {
list-style: none;
}

.header_logo
{
    width: 10%;
    min-width: 82px;
}
.header_logo img
{
    width: 100%;
    height: auto;
}

.header_titre {
    color: white;
    align-self: center;
    font-family: monospace;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    display: inline;

}

header .header_icons {

    display: flex;
    justify-content: flex-end;
}

header .header_icons li a .icon {
    height: 1em;
    width: 1em;
    color: white;
}
header .header_icons li a {
    height: 1em;
    padding: 0 1em;
    color: white;
}
.meteo{
    border-right: 1px solid white;
    display: none;
}
.temperature
{
    display: none;
}

a svg
{
    fill: white;
}
.navigation
{
    width: 100%;
    height: 56px;
    background-color: black;
    color: white;
    display: inline;
}
main{
    background-image: url("../img/lauzanne_img.jpg");
    background-size: cover;
    background-position:60% ;
    width: 100%;
    height: 70%;
    box-shadow: inset 0 0 60px 0 rgba(0,0,0,0.85);
    position: relative;
}

.main_reseaux-sociaux
{
    display: none;
}
nav
{
    width: 100%;
}
.main_nav
{
    position: absolute;
    bottom: -65px;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.main_nav li
{
    list-style: none;
    margin: 2.5px auto;
    padding: 1em 1em;
    width: 80%;


    font-size: 1.5rem;
    font-family: monospace;
    text-align: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
}
.main_inner li a
{
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
}

.main_nav a:hover
{
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
main
{
    height: 85%;
}
    .header_titre
    {
     font-size: 3rem;
    }
    .meteo{
        display: initial;
    }
    .temperature
    {
        display: initial;
    }
    .main_reseaux-sociaux {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 25%;
    }
    .main_reseaux-sociaux li a {
        background: #2682c2;
        display: flex;
        flex-direction: row;
        width: 60px;
        height: 56px;
        color: #fff;
        transition: width 1s;
    }
    .main_reseaux-sociaux li a svg {
        fill: currentColor;
        margin:auto;
        width: 30px;
        height: 30px;

    }
    .main_reseaux-sociaux li a span {
        display: none;
    }
    .main_reseaux-sociaux li a:hover {
        background: #10435f;
        width: 200px;
        text-decoration: underline;
    }
    
    .main_reseaux-sociaux li a:hover svg {
    margin-left: 15px;
    }
    
    .main_reseaux-sociaux li a:hover span {
        width: 100%;
        text-align: right;
        display: initial;
        padding: 1em 0.25em;
        font-size: 20px;
    }

    .main_nav
    {
        flex-direction: row;
        bottom: 10px;
        justify-content: center;
    }

    .main_nav li
    {
        margin: 0 2.5px;
        width: 25%;
    }
    .eating
    {
        min-width: 30%;
    }

}